@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #bce0da; 
  width: 100%; 
}
.App {
  text-align: center; 
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #030c1e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* Add this CSS to your styles */

.link-hover {
  position: relative;
  display: inline-block;
  color: #000;
}

.link-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px; 
  background: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.link-hover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.relative {
  position: relative;
}

.group-hover\:block:hover {
  display: block;
}

.group-hover\:block {
  display: none;
}

.absolute {
  position: absolute;
}

.left-1\/2 {
  left: 50%;
}

.transform {
  transform: translateX(-50%);
}

.mt-1 {
  margin-top: 0.25rem;
}

.w-48 {
  width: 12rem;
}




.shadow-lg {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}
/* Style the entire calendar wrapper */
.custom-date-picker .rdrCalendarWrapper {
  background-color: #bce0da; /* Set background for the entire date picker */
  border-radius: 120px; /* Rounded outer border */
}

/* Ensure the outer border is rounded and content stays inside */
.custom-date-picker .rdrDateRangePickerWrapper {
  border-radius: 120px;
  overflow: hidden;
}

/* Set background color for the sidebar with "Today", "Yesterday", etc. */
.custom-date-picker .rdrDefinedRangesWrapper {
  background-color: #bce0da; /* Ensure the sidebar has the same background color */
}

/* Set background and border radius for the "Today", "Yesterday" buttons */
.custom-date-picker .rdrDefinedRangesItem {
  background-color: #bce0da; /* Same background color */
  border-radius: 80px; /* Rounded corners for the buttons */
}

/* Customize hover effect for "Today", "Yesterday", etc. */
.custom-date-picker .rdrDefinedRangesItem:hover {
  background-color: #a0d1c7; /* Slightly darker shade on hover */
}

/* Style the selected date range (active state) */
.custom-date-picker .rdrDefinedRangesItem .rdrStaticRangeLabel {
  color: #000; /* Ensure text color is readable */
}
